.container {
   
}

.img-product {
    height: 100px;
    width: 100px;
}

.card {
    height: fit-content;
    width: fit-content;
    padding: 10px;
    margin: 10px;
    background-color: bisque;
}